extends ./layout

block content
  table.table.table-striped
    thead
      tr
        th Name
        th PID
        th Started
        th Stopped
        th Last Error
        th Status
        th

    each proc, name in controller.processes
      - var data = proc.monitor.data
      tr
        td= name
        td= data.pid
        td= proc.startTime ? moment(proc.startTime).fromNow() : '---'
        td= proc.stopTime  ? moment(proc.stopTime).fromNow() : '---'
        td= controller.errors[name]
        if data.running
          td Running
          td
            .btn-group
              a.btn-xs.btn.btn-success(href="/processes/#{name}") Information
              button.btn-xs.btn.btn-warning.restart(data-name=name) Restart
              button.btn-xs.btn.btn-danger.stop(data-name=name) Stop
        else
          td Stopped
          td
            button.btn-xs.btn.btn-primary.start(data-name=name) Start

block script
  script(src="/js/main.js")
